astpretty==2.1.0
attrs==21.2.0
cffi==1.14.5
cognitive-complexity==1.2.0
cryptography==3.4.7
eradicate==2.0.0
flake8==3.9.2
flake8-blind-except==0.2.0
flake8-bugbear==21.4.3
flake8-builtins==1.5.3
flake8-cognitive-complexity==0.1.0
flake8-commas==2.0.0
flake8-comprehensions==3.5.0
flake8-eradicate==1.0.0
flake8-executable==2.1.1
flake8-expression-complexity==0.0.9
flake8-functions==0.0.6
flake8-import-order==0.18.1
flake8-logging-format==0.6.0
flake8-mutable==1.2.0
flake8-polyfill==1.0.2
flake8-print==4.0.0
flake8-variables-names==0.0.4
iniconfig==1.1.1
mccabe==0.6.1
mr-proper==0.0.6
mypy-extensions==0.4.3
packaging==20.9
pep8-naming==0.11.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
six==1.16.0
stdlib-list==0.8.0
toml==0.10.2
typing-extensions==3.10.0.0
